@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.poetry {
  font-style: italic;
  font-size: 0.85rem;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.fit-content {
  width: fit-content;
  margin-inline: auto; 
}